/*
Green River College Website Colors

green: #2c882b
orange: #d14900
gray: #525252


*/

body{
    background-color: #2c882b;
    color: #ffffff;
}

.infoTab{
    border: solid 1px #fff;
}

.btn-color{
    background-color: #fff;
}

.btn-color:hover{
    background-color: #525252;
    color: #ffffff;
}

.station-style{
    background-color: #ff5a00;
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 5;
}

.mapStyle{
    background-image: url("../images/map3.png");
    /*background-color: #fff;*/
    height: 600px;
    width: 600px;
    z-index: -1;
    border: solid 1px #fff;
}

.pool{
    height: 600px;
    width: 600px;
}
.size{
    height: 600px;
    width: 600px;
}

.selected{
    border: 1px solid #ff9b00;
}


/***** Grid Overlay CSS *****/

.testBG{
    background-color: #f2f2f2;
}

.testGrid {
    background-image:
            linear-gradient(
                    90deg,
                    rgb(248, 250, 249) 1px,
                    transparent 0
            ),
            linear-gradient(
                    180deg,
                    rgb(243, 249, 250) 1px,
                    transparent 0
            ),
            linear-gradient(
                    90deg,
                    rgba(250, 244, 245, 0.3) 1px,
                    transparent 0
            ),
            linear-gradient(
                    180deg,
                    rgba(250, 246, 250, 0.3) 1px,
                    transparent 0
            );
    background-size:
            50px, 100% 50px,
            10px, 100% 10px;
    pointer-events: none;
}


/***** Circle CSS *****/

.circle{
    border-radius: 50%;
    z-index: 1;
    border: #ffffff solid 1px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
}

.line{
    background-color: #d14900;
    width: 4px;
    height: 2px;
    position: fixed;
    z-index: 2;
}

.circleSize{
    color: #000;
    margin-top: 5px;
    user-select: none;
    position: fixed;
    z-index: 2;
    font-weight: bolder;
}