/*
Green River College Website Colors

green: #2c882b
orange: #d14900
gray: #525252


*/

body{
    background-color: #fff;
    color: #000000;
}

/*.btn{*/
    /*border-radius: 0px;*/
/*}*/

.chartStyle{
    background-color: #fff;
    border: 1px solid #2c882b;
}

.infoTab{
    /*border: solid 1px #fff;*/
    /*background-color: #2c882b;*/
    color: #000;
}

.btn-color{
    background-color: #2c882b;
    color: #fff;
}

.btn-color:hover{
    background-color: #525252;
    color: #ffffff;
}

.station-style{
    background-color: #ffed0d;
    border: solid 1px #000;
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 5;
}

.mapStyle{
    background-image: url("../images/map5.png");
    /*background-color: #fff;*/
    height: 600px;
    width: 600px;
    z-index: -1;
    border: solid 1px #2c882b;
}
.windowSize{
    height: 599px;
    width: 599px;
}
.selected{
    border: 1px solid #000;
    background-color: #ff21e5;
}


/***** Grid Overlay CSS *****/

.gridStyle {
    background-image:
            linear-gradient(
                    90deg,
                    rgb(248, 250, 249) 1px,
                    transparent 0
            ),
            linear-gradient(
                    180deg,
                    rgb(243, 249, 250) 1px,
                    transparent 0
            ),
            linear-gradient(
                    90deg,
                    rgba(250, 244, 245, 0.3) 1px,
                    transparent 0
            ),
            linear-gradient(
                    180deg,
                    rgba(250, 246, 250, 0.3) 1px,
                    transparent 0
            );
    background-size:
            50px, 100% 50px,
            10px, 100% 10px;
    pointer-events: none;
    /*background-image: url("../images/lad_long_overlay.png");*/
}


/***** Circle CSS *****/

.circle{
    border-radius: 50%;
    z-index: 1;
    border: #ffffff solid 2px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
}

.line{
    background-color: #fff;
    width: 4px;
    height: 2px;
    position: fixed;
    z-index: 2;
}

.circleSize{
    color: #000;
    margin-top: 5px;
    user-select: none;
    position: fixed;
    z-index: 2;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
}

/*** Solve CSS ***/

.solveCircleStyle{
    display: none;
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.65);
    background-color: rgba(136, 204, 238, 0.61);
    z-index: 4;
}

.win{
    position: fixed;
    background-color: #fff;
    border-radius: 15px;
    width: 250px;
    height: 85px;
    display: none;
    z-index: 6;
}