/*
Green River College Website Colors

green: #2c882b
orange: #d14900
gray: #525252


*/

.station-style{
    background-color: #000;
    height: 8px;
    width: 8px;
    position: absolute;
    z-index: 5;
}

.mapStyle{
    background-color: #c1c1c1;
    height: 400px;
    width: 850px;
    z-index: -1;
}

.pool{
    height: 400px;
    width: 850px;
}
.size{
    height: 400px;
    width: 850px;
}

.selected{
    border: 1px solid #d14900;
}


/***** Grid Overlay CSS *****/

.testBG{
    background-color: #f2f2f2;
}

.testGrid {
    background-image:
            linear-gradient(
                    90deg,
                    rgb(248, 250, 249) 1px,
                    transparent 0
            ),
            linear-gradient(
                    180deg,
                    rgb(243, 249, 250) 1px,
                    transparent 0
            ),
            linear-gradient(
                    90deg,
                    rgba(250, 244, 245, 0.3) 1px,
                    transparent 0
            ),
            linear-gradient(
                    180deg,
                    rgba(250, 246, 250, 0.3) 1px,
                    transparent 0
            );
    background-size:
            50px, 100% 50px,
            10px, 100% 10px;
    pointer-events: none;
}


/***** Circle CSS *****/

.circle{
    border-radius: 50%;
    z-index: 3;
    border: #383838 solid 1px;
    position: fixed;
    background-color: rgba(56, 56, 56, 0.08);
}

.line{
    background-color: #000000;
    width: 4px;
    height: 1px;
    position: fixed;
    z-index: 1;
}

.circleSize{
    user-select: none;
    position: fixed;
    z-index: 2;
}